<%- include('./includes/head.ejs') %><!-- Include head -->
    <link rel="stylesheet" href="http://localhost:3000/public/home.css"><!-- Home CSS -->
    </head><!-- head ends here -->

    <body><!-- body starts here -->

        <div class="container"><!-- Container -->

            <%- include('./includes/navbar.ejs') %><!-- Navbar -->

                <div class="content"><!-- content div starts here -->

                    <div id="part1"><!-- Part1 starts here -->

                        <div class="welcome"><!-- welcome starts here -->
                            
                            <!-- different message for welcoming user -->
                            <div class="message">
                                Fr🍊m Farm to Table,
                            </div>

                            <div class="message">
                                Nature's Finest Harvest
                            </div>
                            
                            <div class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus dolor
                                blanditiis amet nostrum a praesentium quia cum qui ut adipisci, maxime, quod eos, sequi
                                doloribus ab error earum cupiditate.
                                Eum laboriosam quae rem aspernatur quis consectetur labore porro officiis eaque.
                                Veritatis amet earum non dolorum quibusdam fuga, nesciunt error, labore ad quisquam
                                debitis accusamus reprehenderit facilis! Impedit, porro officiis!
                            </div>
                            
                            <div class="button"><!-- Link for catalog -->
                                <a href="/catalog">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21.822,7.431C21.635,7.161,21.328,7,21,7H7.333L6.179,4.23C5.867,3.482,5.143,3,4.333,3H2v2h2.333l4.744,11.385 C9.232,16.757,9.596,17,10,17h8c0.417,0,0.79-0.259,0.937-0.648l3-8C22.052,8.044,22.009,7.7,21.822,7.431z M17.307,15h-6.64 l-2.5-6h11.39L17.307,15z">
                                        </path>
                                        <circle cx="10.5" cy="19.5" r="1.5"></circle>
                                        <circle cx="17.5" cy="19.5" r="1.5"></circle>
                                    </svg>
                                    Shop Now</a>
                            </div>
                        
                        </div><!-- welcome ends here -->
                    
                    </div><!-- part1 ends here -->
                    
                    <div id="part2"><!-- part2 starts here -->
                        
                        <div class="best"><!-- explains what farm provides the best -->
                            
                            <div class="img">
                                <img src="/public/assests/home_section_2_1.png" alt="Fruits">
                            </div>
                            
                            <div class="text">
                                <div class="p1">🍒</div>
                                <div class="p2">A Farming Legacy, Rooted in Nature</div>
                                <div class="p3">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda animi
                                    aspernatur ex modi repudiandae ab? Maiores nulla porro dolor pariatur officiis
                                    repellendus ipsa molestiae unde, praesentium sit earum esse?
                                </div>

                                <ul><!-- different icons -->
                                    
                                    <li>
                                        <div class="iconcontainer">
                                            <div class="icon">
                                                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                    viewBox="0 0 512 512" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M150.902 268.233h-42.1a23.347 23.347 0 0 1 42.1 0zm67.359-13.292a114.847 114.847 0 0 1 1.203-16.31 23.335 23.335 0 0 0-18.68 29.602h18.295a113.38 113.38 0 0 1-.77-13.292zm-94.532-86.027c-15.637-15.637-36.638-32.164-55.162-32.164h-1.54l.975 19.246c8.913-.433 23.287 8.3 39.489 24.056q1.528 1.48 2.995 2.972a42.58 42.58 0 0 1 8.083-.95 42.34 42.34 0 0 1 5.208-13.172zm24.37-18.933a68.706 68.706 0 0 0 6.928-9.743 71.172 71.172 0 0 0 7.11-16.55 70.174 70.174 0 0 0 2.706-17.695 67.72 67.72 0 0 0-1.672-16.575 69.043 69.043 0 0 0-2.01-7 63.499 63.499 0 0 0-2.236-5.594 53.963 53.963 0 0 0-1.889-3.728c-.228-.433-.469-.782-.601-1.01l-.217-.35-.36.18c-.241.121-.614.302-1.035.542a52.092 52.092 0 0 0-3.609 2.177 52.07 52.07 0 0 0-4.811 3.609 69.031 69.031 0 0 0-5.377 4.907 67.72 67.72 0 0 0-10.104 13.232 70.174 70.174 0 0 0-6.964 16.49 71.16 71.16 0 0 0-2.719 17.779 68.562 68.562 0 0 0 1.672 16.575 66.337 66.337 0 0 0 4.234 12.546c.47 1.058.927 1.96 1.336 2.718a42.713 42.713 0 0 1 19.666-12.522zm342.413-43.903c-.228-.133-.59-.35-1.022-.578a43.443 43.443 0 0 0-3.777-1.804c-1.6-.674-3.5-1.42-5.641-2.105a69.031 69.031 0 0 0-7.049-1.84 67.72 67.72 0 0 0-16.611-1.263 70.174 70.174 0 0 0-17.634 3.127 71.172 71.172 0 0 0-16.31 7.41 68.562 68.562 0 0 0-13.003 10.428l-.542.578a69.633 69.633 0 0 1 12.618 22.168 68.67 68.67 0 0 0 11.307.421 71.16 71.16 0 0 0 17.646-3.091 70.174 70.174 0 0 0 16.322-7.362 67.72 67.72 0 0 0 13.003-10.428 69.02 69.02 0 0 0 4.811-5.497c1.384-1.78 2.55-3.44 3.477-4.932.926-1.492 1.635-2.718 2.093-3.609.24-.433.409-.817.517-1.058l.18-.373zm-85.642-66.06c-.433-1.697-.854-3.296-.986-4.018l-18.981 3.488c.252 1.384.685 3.043 1.275 5.329 2.814 10.898 9.298 36.013 1.48 58.23a69.97 69.97 0 0 1 16.165 11.595c12.787-28.928 4.511-61.032.999-74.625zM180.179 476h122.618a159.112 159.112 0 0 0 159.112-159.112v-29.41H21.103V316.9A159.112 159.112 0 0 0 180.179 476zm245.163-221.059a93.545 93.545 0 0 0-26.03-64.845 50.4 50.4 0 1 0-94.05-25.26 93.822 93.822 0 0 0-66.745 103.445h185.839a94.604 94.604 0 0 0 .986-13.34zm-244.718 6.748a42.412 42.412 0 0 1 10.609-28.074 23.383 23.383 0 0 0-43.555 6.014 42.81 42.81 0 0 1 23.492 28.28 23.287 23.287 0 0 0 9.622-2.407 43.845 43.845 0 0 1-.168-3.813zm-79.388-14.963a23.383 23.383 0 0 0-41.522 21.495h28.688a42.665 42.665 0 0 1 12.822-21.495zm79.845-66.686a23.371 23.371 0 0 0-43.543 5.642 42.905 42.905 0 0 1 19.51 18.427 42.292 42.292 0 0 1 11.44-2.153 42.653 42.653 0 0 1 12.58-21.916zm29 7.819a23.383 23.383 0 0 0-22.685 17.537 42.905 42.905 0 0 1 19.534 16.924 42.316 42.316 0 0 1 16.335-3.271h.854a111.36 111.36 0 0 1 7.373-17.177 23.383 23.383 0 0 0-21.41-14.013zm-69.524 26.402a23.36 23.36 0 0 0-43.483 4.174 42.905 42.905 0 0 1 20.966 18.945 42.557 42.557 0 0 1 10.826-1.648 42.593 42.593 0 0 1 11.691-21.47z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="icondesc">
                                            <div class="desc">
                                                Natural foods
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <div class="iconcontainer">
                                            <div class="icon">
                                                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                    viewBox="0 0 1024 1024" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M512 64L128 192v384c0 212.1 171.9 384 384 384s384-171.9 384-384V192L512 64zm312 512c0 172.3-139.7 312-312 312S200 748.3 200 576V246l312-110 312 110v330z">
                                                    </path>
                                                    <path
                                                        d="M378.4 475.1a35.91 35.91 0 0 0-50.9 0 35.91 35.91 0 0 0 0 50.9l129.4 129.4 2.1 2.1a33.98 33.98 0 0 0 48.1 0L730.6 434a33.98 33.98 0 0 0 0-48.1l-2.8-2.8a33.98 33.98 0 0 0-48.1 0L483 579.7 378.4 475.1z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="icondesc">
                                            <div class="desc">
                                                safe formalin
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <div class="iconcontainer">
                                            <div class="icon">
                                                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                    viewBox="0 0 24 24" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M20,3H4C3.447,3,3,3.448,3,4v16c0,0.552,0.447,1,1,1h16c0.553,0,1-0.448,1-1V4C21,3.448,20.553,3,20,3z M19,19H5V5h14V19z">
                                                    </path>
                                                    <circle cx="12" cy="12" r="5"></circle>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="icondesc">
                                            <div class="desc">
                                                100% tasty food
                                            </div>
                                        </div>
                                    </li>
                                
                                </ul>
                            
                            </div>
                        
                        </div><!-- best ends here -->

                    </div><!-- part2 ends here -->
                    
                    <div id="part3"><!-- part3 starts here -->

                        <div class="services"><!-- explains what services farm provides with -->
                            
                            <div class="p1">🍅</div>
                            <div class="p2">our services</div>
                            <div class="p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi non incidunt
                                harum. Eos, qui ullam.</div>
                            <ul>
                                
                                <li>
                                    <div class="img">
                                        <img src="/public/assests/home_section_3_1.png" alt="fruit basket">
                                    </div>
                                    <div class="text">
                                        <div class="title">Lorem ipsum</div>
                                        <div class="desc">Lorem ipsum dolor sit amet</div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="img">
                                        <img src="/public/assests/home_section_3_2.png" alt="fruit basket">
                                    </div>
                                    <div class="text">
                                        <div class="title">Lorem ipsum</div>
                                        <div class="desc">Lorem ipsum dolor sit amet</div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="img">
                                        <img src="/public/assests/home_section_3_3.png" alt="fruit basket">
                                    </div>
                                    <div class="text">
                                        <div class="title">Lorem ipsum</div>
                                        <div class="desc">Lorem ipsum dolor sit amet</div>
                                    </div>
                                </li>
                            
                            </ul>
                        
                        </div><!-- services ends here -->
                    
                    </div><!-- part3 ends here -->
                    
                    <div id="part4"><!-- part4 starts here -->

                        <div class="about"><!-- explains about farm -->

                            <div class="logo"><!-- farm logo -->
                                <img src="/public/assests/logo3.png" alt="logo">
                            </div>

                            <div class="aboutus">
                                
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est officia,
                                    blanditiis earum atque minus porro sit commodi nesciunt voluptatum provident sequi
                                    ad possimus modi nobis vero a? Quae impedit ipsum tenetur voluptatem ratione nulla
                                    consequuntur incidunt unde assumenda, tempora, accusantium repudiandae aspernatur a?
                                    Praesentium, tempora? Ipsum sed ut pariatur quo rem consequatur, placeat officiis
                                    tempore possimus natus nesciunt sint! A cupiditate corrupti voluptatibus fugit
                                    excepturi eum deleniti dolorum, blanditiis quae delectus, facilis asperiores.
                                    Accusantium dolores doloribus eaque vel temporibus exercitationem nihil impedit quia
                                    corrupti, molestias, quod repellat pariatur fugiat sit? Modi quibusdam dolorem,
                                    incidunt iusto accusamus repellat perferendis distinctio assumenda?
                                </div>
                                
                                <ul><!-- social media links -->
                                    
                                    <li>
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                            viewBox="0 0 320 512" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                                            </path>
                                        </svg>
                                    </li>
                                    
                                    <li>
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                            viewBox="0 0 1024 1024" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M928 254.3c-30.6 13.2-63.9 22.7-98.2 26.4a170.1 170.1 0 0 0 75-94 336.64 336.64 0 0 1-108.2 41.2A170.1 170.1 0 0 0 672 174c-94.5 0-170.5 76.6-170.5 170.6 0 13.2 1.6 26.4 4.2 39.1-141.5-7.4-267.7-75-351.6-178.5a169.32 169.32 0 0 0-23.2 86.1c0 59.2 30.1 111.4 76 142.1a172 172 0 0 1-77.1-21.7v2.1c0 82.9 58.6 151.6 136.7 167.4a180.6 180.6 0 0 1-44.9 5.8c-11.1 0-21.6-1.1-32.2-2.6C211 652 273.9 701.1 348.8 702.7c-58.6 45.9-132 72.9-211.7 72.9-14.3 0-27.5-.5-41.2-2.1C171.5 822 261.2 850 357.8 850 671.4 850 843 590.2 843 364.7c0-7.4 0-14.8-.5-22.2 33.2-24.3 62.3-54.4 85.5-88.2z">
                                            </path>
                                        </svg>
                                    </li>

                                    <li>
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                            stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z">
                                            </path>
                                            <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon>
                                        </svg>
                                    </li>

                                    <li>
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1"
                                            viewBox="0 0 16 16" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8 0c-2.761 0-5 2.239-5 5 0 5 5 11 5 11s5-6 5-11c0-2.761-2.239-5-5-5zM8 8.063c-1.691 0-3.063-1.371-3.063-3.063s1.371-3.063 3.063-3.063 3.063 1.371 3.063 3.063-1.371 3.063-3.063 3.063zM6.063 5c0-1.070 0.867-1.938 1.938-1.938s1.938 0.867 1.938 1.938c0 1.070-0.867 1.938-1.938 1.938s-1.938-0.867-1.938-1.938z">
                                            </path>
                                        </svg>
                                    </li>

                                </ul>

                            </div><!-- about us ends here -->
                        
                        </div><!-- about ends here -->

                    </div><!-- part4 ends here -->

                </div><!-- content div ends here -->

            </div><!-- container div ends here -->

    </body><!-- body ends here -->

</html><!-- html ends here -->