*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}


/* container */
.container{
    min-width: 98vw;
    min-height: 100vh;
    max-width: 100vw;
}


/* content */
.container .content {
    margin-top: 30px;
    padding: 0px 100px;
}

.container .content .header{
    margin-bottom: 50px;
    color: #0e4f55;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.container .content .header .body{
    width: 70%;
}

.container .content .body .categories{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 0px;
}

.container .content .body .categories .category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
}

.container .content .body .categories .category .category-details{
    min-width: 200px;
    padding: 25px 30px;
    position: relative;
    border-radius: 20px;
    color: #0e4f55;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    transition: .5s;
}

.container .content .body .categories .category .category-details:hover{
    transform: scale(1.1);
}

.container .content .body .categories .category .category-details .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    display: flex;
}

.container .content .body .categories .category .category-details .icon span{
    padding: 10px 15px;
    border-radius: 50%;
    outline: 3px solid #fff;
    outline-offset: 3px;
    background: #fff;
}

.container .content .body .categories .category .category-details .name{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content .body .categories .category:nth-child(5n) .category-details{
    background-color: #f1d6f9;
}

.container .content .body .categories .category:nth-child(5n-1) .category-details{
    background: #b2e6be;
}

.container .content .body .categories .category:nth-child(5n-2) .category-details{
    background: #fee0b7;
}

.container .content .body .categories .category:nth-child(5n-3) .category-details{
    background: #ffbbc0;
}

.container .content .body .categories .category:nth-child(5n-4) .category-details{
    background: #fdc56b;
}